.logout:hover{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    background-color: rgba(110, 51, 129, 0.472);
    border-bottom: none;
}
.setting:hover{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    background-color: rgba(110, 51, 129, 0.472);
}
#abrir,
#ocultar{
    float: right;
}
#ocultar{
    position: relative;
}
button{
    background: none;
    border: none;
}
#ocultar{
    display: block;
    color: rgba(255, 255, 255, 0.315);
    float: left;
    margin-left: 10px;
    margin-top: 8px;
}
#ocultar:hover{
    color: rgb(255, 255, 255);
}
.fa-arrow-right{
    font-size: 40px;
}
/*#ocultar.active{
    display: block;
}*/
.wrapper{
    /*width: 100%;
    /*height: 1000px;*/
    display: flex;
    /*width: auto;*/
}
.side-bar{
    background: rgb(110, 51, 129);
    width: 205px;
    height: auto;
    color: #fff;
    float: right;
    display: none;
    position: relative;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.side-bar.active{
    /*animation: abrirlateral .5s ease .0s forwards; */
    display: block;
    position: absolute;
    right: 1px;
    bottom: 0;
    top: 108px;
    z-index: 1;
    /*float: right;*/
}
.bar-profile img{
    margin-top: 10px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 20px 5px 20px 5px; 
    border: 1px solid black;
}
.bar-profile,
.user-name{
    text-align: center;
}


.modulor,
.moduloe,
.moduloc,
.list,
.log,
.dashboard-view{
    padding: 5px;
    margin-left: 10px;
}
.log > a{
    text-decoration: none;
}
.no-oculto{
    color: #fff;
    text-decoration: none;
}
.no-oculto:hover{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.moduloe > ul { 
    display: none; 
    list-style: none;
}
.moduloe:hover > ul { 
    padding: 5px; 
    display: block;
    cursor: pointer;
    border-left: 1px solid #fff;
}
.moduloc > ul { 
    display: none; 
    list-style: none;
}
.moduloc:hover > ul { 
    padding: 5px; 
    border-left: 1px solid #fff;
    display: block;
    cursor: pointer;

}
.moduloc:hover > ul > li:hover { 
    background: rgba(187, 176, 176, 0.329);
    cursor: pointer;
}
.moduloe:hover > ul > li:hover { 
    background: rgba(187, 176, 176, 0.329);
    cursor: pointer;
}
.modulor > ul { 
    display: none; 
    list-style: none;
}
.modulor:hover > ul { 
    padding: 5px; 
    border-left: 1px solid #fff;
    display: block;
    cursor: pointer;

}
.modulor:hover > ul > li:hover { 
    background: rgba(187, 176, 176, 0.329);
    cursor: pointer;
}
.list > ul { 
    display: none; 
    list-style: none;
}
.list:hover > ul { 
    padding: 5px; 
    border-left: 1px solid #fff;
    display: block;
    cursor: pointer;
}
.list:hover > ul > li:hover { 
    background: rgba(187, 176, 176, 0.329);
    cursor: pointer;
}
.dashboard-view:hover{
    cursor: pointer;
    background: rgba(187, 176, 176, 0.329);
}
.dashboard-btn{
    text-decoration: none;
    color: #fff;
}
.dashboard-btn:hover{
    text-decoration: none;
    color: #fff;
}
.log:hover{
    cursor: pointer;
    background: rgba(187, 176, 176, 0.329);
}
.log-btn{
    text-decoration: none;
    color: #fff;
}
.log-btn:hover{
    text-decoration: none;
    color: #fff;
}
.fa-grip-lines-vertical,
.fa-bars,
.fa-sliders-h,
.fa-users-cog,
.fa-chart-area,
.fa-cog,
.fa-sign-out-alt,
.fa-clipboard,
.fa-cogs,
.fa-chart-pie,
.fa-user-shield,
.fa-walking,
.fa-list,
.fa-plus-square,
.fa-file-alt
{
    font-size: 18px;
    margin-inline: 3px ;
}

.fa-arrow-right,
.fa-sliders-h{
    font-size: 15px;
}
.opc{
    padding: 5px;

    color: #fff;
    text-decoration:none;
}
.opc:hover{
    color: #fff;
    text-decoration: none;
}

@keyframes abrirlateral{
	from {
		opacity: 0;
		transform: translateX(25px);
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.by-areas1,
.by-areas2,
.by-areas3{
    width: 280px;
    height: 100px;
    padding: 5px;
    border-radius: 10px;
}
.by-areas1{
    float: left;
    background: #ff6d3375;
}
.by-areas2{
    float: left;
    background: rgba( 255, 175, 51 , 0.329);
}
.by-areas3{
    float: left;
    background: rgba( 51, 224, 255 , 0.329);
}
.fieldset{
    /*width: auto;
    height: auto;
    margin: 10px 20px;*/
    border: solid 1px  rgb(110, 51, 129);
    border-radius: 5px;
    /*padding: 10px;*/
}
.legend{
    margin-left: 5px;
    width:260px;
    color: rgb(107, 55, 125);
}

/*.dashboard.active{
    overflow-y: scroll;
}*/


.dashboard.active::-webkit-scrollbar{
    width: 10px;
}
.dashboard.active::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}

.fieldsetG.active{
    height: auto;
}
.graphic{
    width: 240px;
}
/*.by-area {
    float: left;
    width: 520px;
    height: auto;
    margin-left: 20px;
}*/

.image1,
.image2,
.image3{
    width: 520px;
    height: 400px;
    position: relative;
    margin: auto;
    top: -80px;
}
.user{
    display: block;
}
/*.user.active{
    display: block;
}*/
.head{
    width: 1664px;
    height: 180px;
    position: relative;
    background: rgb(109,51,129);
    background: linear-gradient(0deg, rgba(109,51,129,0.92) 0%, rgba(87,69,226,1) 150%);
}
.head.active{
    width: 1485px;
}
.photo-profile img{
    width: 200px;
    height:200px;
    object-fit: cover;
    border-radius: 60px 5px 60px 5px; 
    position: relative;
    top: -95px;
    left: 40px;
    border: solid 1px #fff;
    text-align: center;
    display: block;
}
.name-lastname{
    width: 600px;
    position: absolute;
    top: 255px;
    left: 250px;
}
.info-user{
    display: block;
    position: absolute;
    width: 550px;
    top: 300px;
    left: 500px;
}
.panel-info{
    width: 150px;
    height: 50px;
    color: rgb(110, 51, 129);
    margin-inline: 10px;
    text-decoration: none;
}
.panel-info:hover{
    cursor: pointer;
    color: rgba(110, 51, 129, 0.596);
    text-decoration: none;
    border-bottom: 3px solid rgb(63, 61, 216);
}
hr{
    position: absolute;
    width: 525px;
    top : 340px;
    left: 500px;
    background: rgb(63, 61, 216);
}
.information,
.acciones,
.cambio-contraseña{
    width: 550px;
    position: absolute;
    left: 500px;
    top: 380px;
}
.information.active{
    display: none;
}
.acciones{
    display: none;
}
.cambio-contraseña{
    display: none;
}
.acciones.active{
    display: block;
}

.cambio-contraseña.active{
    display: block;
}
h4{
    margin-bottom: 20px;
    width: 480px;
}
.modificar{
    float: right;
    margin-right: 10px;
}

label{
    display: inline;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
}
.input-group-text{
    width: 150px;
    background-color: rgb(107, 55, 125);
    border: solid 1px rgb(107, 55, 125);
    color: #ffff;
}
.info-user.active{
    display: block;
}
.pi1.hover{
    border-bottom: 3px solid rgb(63, 61, 216);
}
#pi2.hover{
    border-bottom: 3px solid rgb(63, 61, 216);
}
#pi3.hover{
    border-bottom: 3px solid rgb(63, 61, 216);
}
.fa-bars{
    font-size: 25px;
}
.menu:hover{
    width: 38px;
    height: 35px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.308);
    transform: scaleX(1);
}
.menu.active{
    width: 38px;
    height: 35px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.308);
}
.nickname{
    font-size: 20px;
    position: relative;
    top: -15px;
}
.nombre{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.buscador-audi{
    width: 260px;
    border-radius: 4px 20px 4px 22px ;
    float: right;
    margin-right: 50px;
    margin-bottom: 5px;
}
.texto-reporte{
    width: 100%;
    max-width: 900px;
    height: 620px;
    background-color: #ffff;
    margin:70px auto;
    border-radius: 20px 22px 22px 20px;
    display: none;
}
.texto-reporte.active{
    display: block;
}
.titulo-repor{
    position: relative;
    top: 10px;
}
.create-reporte{
    width: 100%;
    max-width: 750px;
    height: 350px;
    position: relative;
    left: 25px;
    border-radius: 5px;
    border: 1px solid rgb(107, 55, 125);
    
}
.bars{
    width:750px;
    height: 50px;
    margin: 5px auto;
    display: flex;
}
.button-text{
    width: 25px;
    height: 25px;
    border: solid 1px rgb(63, 61, 216);
    border-radius: 5px;
    position: relative;
    top: -10px;
}
.button-text:hover{
    box-shadow: 0px 0px 8px 0px rgb(52, 0, 95);
}
.guardar-reporte{
    width: 25%;
    height: 30px;
    padding: 5px;
    border-radius: 5px ;
    position: relative;
    top: 10px;
    margin:auto;
    display: flex;
    justify-content: center;
    font-size: 15px;
    background-color: rgb(163, 53, 90);
    color: #fff;
}
.guardar-reporte:hover{
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px rgb(52, 0, 95);
    font-size: 16px;
}
.opciones-texto{
    width: auto;
    height: 45px;
    border: solid 1px rgb(63, 61, 216);
    padding: 3px;
    border-radius: 5px;
    margin-inline: 3px;
    margin-bottom: 5px;
}
.aliniacion-text{
    font-size: 10px;
}
.titulo-create{
    width:750px;
    position: relative;
    left: 25px;
}

.see-reports{
    width: 100%;
    max-width: 1100px;
    height: 600px;
    background-color: #ffff;
    margin:70px auto;
    border-radius: 20px 22px 22px 20px;
    display: none;
}
.see-reports.active{
    display: block;
}
.cards{
    border-top: solid 1px rgb(63, 61, 216);
    width: 900px;
    height: 500px;
    padding: auto;
    margin: 5px auto;
    overflow-y: scroll;
}
.card{
    width: 435px;
    margin-top: 10px;
    margin-left: 5px;
    float: inline-start;
}
.card-title{
color: rgba(0, 0, 0, 0.466);
font-size: 24px;
}
.more{
    background-color: rgb(107, 55, 125);
    border-radius: 3px;
    padding: 3px;
    color: #fff;
}

.cards::-webkit-scrollbar{
    width: 10px;
}
.cards::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}

/* modulos sde roles y permisos */

.permisos{
    width:100%;
    max-width: 900px;
    height: 500px;
    background: #fff;
    margin: 100px auto;
    border-radius: 20px;
    padding: 5px;
    display: block;
}
/*.permisos.active{
    display: block;
}*/
.search-user-role{
    width: 850px;
    margin: auto;
}
.permis-contec{
    width: 850px;
    margin: auto;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
}
.datos-user,
.permisos-user{
    width: 450px;
    padding: 5px;
}
.photo-us{
    width: 450px;
    height: 120px;
}
.photo-us img{
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 25px 5px 25px 5px;
    margin: 10px 0 0 10px;
}
.name-user{
    position: relative;
    top: -48px;
    left: 5px;
}
.info-rol{
    float: left;
    width: 350px;
    margin: 20px auto 0 10px;
}
.form-check-input{
    border: 1px solid rebeccapurple;
}
.form-check{
    margin-left: 20px;
    font-size: 18px;
}
.form-check-input{
    font-size: 20px;
}
.RER{
    float: left;
    width: 50%;
    margin:auto;
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: cornsilk;
    border: solid 1px rgb(107, 55, 125); 
    background-color: rgb(107, 55, 125);
    float: right;
}
.Xarea{
    width: 100%;
    max-width: 1100px;
    background-color: #ffff;
    border-radius:15px;
    margin: auto;
    margin-top:70px;
    padding: 50px;
    display: none;
}
.Xarea.active{
    display: block;
}
/*canvas{
    width: 320px;
    height: 240px;
    margin-left: 22px;
}*/
.Editar-usuario.active{
    display: none;
}
.Eliminar-usuario{
    display: none;
}
.Eliminar-usuario.active{
    display: block;
}

/*para que se muestre el la camara*/
.radio_check {
	width: 49% !important;
	text-align: center;
}

.none {
	display: none;
}
.btnFoto{
    width: 250px;
    margin:auto;
    justify-content: center;
    font-size: 15px;
    border: solid 1px rgb(107, 55, 125);
    border-radius: 5px;
    color: #fff;
    position: relative;
    top: 15px ;
    background-color: rgb(107, 55, 125)
}
.btnFoto:hover{
    box-shadow: 0px 0px 8px 0px rgb(52, 0, 95);
}
.form-check-label{
    width: 50px;
    margin: auto;
}
.form-check-input{
    display: none;
}

/*cfsfsfs*/
.more-info-exit {
    width: 100%;
    max-width: 400px;
    height: 140px;
    margin-top: -50px;
    margin-left:10px; 
    background-color: #f78682;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display:none; 
    transition: all .5s;
    font-size: 15px;
  }

.more-info-entry{
    width: 100%;
    max-width: 400px;
    height: 140px;
    margin-top: -50px;
    margin-left:12.5px; 
    background-color: #82d894;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display:none; 
    transition: all .5s;
    font-size: 15px;
}
  /* Visible texto */
figure:hover > figcaption {
    padding-top: 40px;
    padding-left: 45px;
    display:block;
    transition: all .5s;
}